# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# If you use Django migrations cache (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/__init__.py
*/migrations/__init__.py
# Local settings
local_settings.py
settings_local.py


